@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
}
body {
  background: #202024 url('./assets/github_background.svg') no-repeat 70% top;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font: 16px Roboto, sans-serif;
}

button {
  cursor: pointer;
}
